mixin serviceItem(image, title, desc)
    .service__item 
        .service__icon 
            img(srcset=icon)
        h3.global__heading.global__heading__normal.service__title=title
        p.global__text.service__text=desc

mixin reviewCard(image, name, job, desc, rating)
    .review__card 
        .review__avatar 
            img(srcset=image)
        h3.review__name=name
        span.review__job=job
        p.review__desc=desc 
        .review__rating
            img(srcset="./images/icon-star.png")
            span= rating
        .review__quote
            img(srcset="./images/icon-quote.png")

mixin blogItem(image, title, desc)
    .blog__item 
        .blog__image 
            img(srcset=image)
        .blog__content
            h3.blog__title=title
            p.blog__desc